@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #0a0a0a; /* Warna gelap dasar studio arsitek */
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
